<ion-header>
  <ion-toolbar>
    <ion-title>Roll History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="scroller">
		<ion-list>
			<ion-item *ngFor="let h of getGlobals()">
				<ion-label>Roll : {{ h[0] }} on a d{{ h[1] }}</ion-label>
			</ion-item>
		</ion-list>
	</div>
	<ion-fab horizontal="end" *ngIf="getGlobals().length > 0" (click)="resetHistory()">
		<ion-fab-button>Clear</ion-fab-button>
	</ion-fab>
</ion-content>
